<%- include ('../partials/boilerplate') %>

<div class="todos">
  <% for (let todo of data.todos) { %>
  <div class="todo">
    <div class="todo-top">
      <h3 class="top-text"><%= todo.title %></h3>
      <p class="top-text">Todo Item</p>
    </div>
    <div class="todo-bottom">
      <p><%= todo.category %></p>
      <div class="todo-btns">
        <a href="/todos/<%= todo.id %>">Info</a>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </div>
    </div>
  </div>
  <% } %>
</div>

<%- include ('../partials/end') %>
